.title {
    font-size: 3.5em;
    margin-top: 3em;
}

h2 {
    margin-bottom: 100px;
}

h3 {
    margin-bottom: 50px;
}

.MuiInputBase-input {
    background: white !important;
    width: 500px !important; 
}

.gymList {
    padding: 100px;
}

@media screen and (max-width: 850px) {
    .gymList {
        padding: 20px;
    }
}